<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/front-end/css/admin-style.css">

    <title>Admin Panel</title>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#">Medzlis Prijepolje</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/dashboard">Dashboard</a>
        </li>
    </ul>
</nav>
<div class="container">
    <div class="col-md-7 offset-2">
        <!-- form  -->
        <div class="card card-outline-secondary NewsForm">
            <div class="card-header">
                <h3 class="mb-0 headingForm">Izmeni Kategoriju</h3>
            </div>
            <!--card body-->
            <div class="card-body">
                <form class="form" action="/category/update/{{ category.id }}" method="POST">
                    <div class="form-group">
                        <label for="category_name">Izmeni Naziv Kategorije:</label>
                        <input type="text" class="form-control" name="category_name" id="category_name" value="{{ category.category_name }}">
                    </div>
                    <button type="submit" class="btn btn-success btn-lg float-right" id="btnLogin">Potvrdi Izmene</button>
                </form>
            </div>
            <!--/card-body-->
        </div>
        <!-- /form -->
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>