<!DOCTYPE html>
<html lang="en">

{% include 'parts/head.twig' %}

<body>
  <div class="container-fluid">
    <!-- blacknavbar -->

      {% include 'parts/blacknavbar.twig' %}

    <!-- end blacknavbar -->

    <!-- hamburger menu -->

      {% include 'parts/hamburger-menu.twig' %}

    <!-- end hamburger menu -->

    <!-- slider -->

      {% include 'parts/slider.twig' %}

    <!-- end slider -->

    <!-- whitenavbar -->

      {% include 'parts/whitenavbar.twig' %}

    <!-- end whitenavbar -->

    <!-- footer -->

      {% include 'parts/footer.twig' %}

    <!-- end footer -->

  </div>
</body>

<script src="front-end/js/script.js"></script>
</html>