<div class="row">
    <nav class="navigation col-md-12 blacknavbar">
        <div class="offset-md-3">
            <ul>
                <li>
                    <a href="/index">MEDŽLIS PRIJEPOLJE</a>
                </li>
                <li>
                    <a href="#">STATUT</a>
                </li>
                <li>
                    <a href="#">OGLAŠAVANJE</a>
                </li>
                <li>
                    <a href="/contact">KONTAKT</a>
                </li>
            </ul>
        </div>
    </nav>
</div>