<div class="row footer">
    <div class="col-md-12 first">
    </div>
    <div class="col-md-12">
        <div class="container ro">
        </div>
        <div class="col-md-12">
            <div>
                <p class="p1">Copyright &copy; CodingBad</p>
            </div>
        </div>
    </div>
</div>