<div class="container">
    <div class="row">
        <nav class="navbar navbar-light purple lighten-4 mb-4 hamburger">

            <!-- Navbar brand -->
            <a class="navbar-brand" href="#"></a>

            <!-- Collapse button -->
            <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1"
                    aria-expanded="false" aria-label="Toggle navigation"><span class="dark-blue-text"><i class="fa fa-bars fa-1x"></i></span></button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent1">

                <!-- Links -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/index">Pocetna <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/medzlis">Medzlis</a>
                        <ul>
                            <li class="nav-item">
                                <a class="nav-link" href="#">MUSLIMANSKI OMLADINSKI KLUB</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">"LJILJAN" - HOR MEDZLISA PRIJEPOLJE</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/nasidzemati">Dzemati</a>
                        <ul>
                            <li class="nav-item">
                                <a class="nav-link" href="#">DUŠMANIĆI</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">SUHODO</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">ZALUG</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">ŠARAMPOV</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">VAKUF</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">CENTAR - VELIKA DŽAMIJA</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">KARAULA</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">KOMARAN - BUKOVIK</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">BRODAREVO</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">SELJAŠNICA</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">VELIKA ŽUPA</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">RATAJSKA</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">HISARDŽIK</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">LUKE</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/mekteb">Mekteb</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/projekti">Projekti</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Kontaktirajte Nas</a>
                    </li>
                </ul>
                <!-- Links -->

            </div>
            <!-- Collapsible content -->

        </nav>
    </div>
</div>