<nav class="navigation container whitenavbar">
    <div class="row">
        <ul class="col-md-10">
            <li>
                <a href="/index">POČETNA</a>
            </li>
            <li>
                <a href="/medzlis">MEDŽLIS
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul>
                    <li>
                        <a href="#">MUSLIMANSKI OMLADINSKI KLUB MOK</a>
                    </li>
                    <li>
                        <a href="#">"LJILJAN" - HOR MEDŽLISA PRIJEPOLJE</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/nasidzemati">NAŠI DŽEMATI
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul>
                    <li>
                        <a href="#">DUŠMANIĆI</a>
                    </li>
                    <li>
                        <a href="#">SUHODO</a>
                    </li>
                    <li>
                        <a href="#">ZALUG</a>
                    </li>
                    <li>
                        <a href="#">ŠARAMPOV</a>
                    </li>
                    <li>
                        <a href="#">VAKUF</a>
                    </li>
                    <li>
                        <a href="#">CENTAR - VELIKA DŽAMIJA</a>
                    </li>
                    <li>
                        <a href="#">KARAULA</a>
                    </li>
                    <li>
                        <a href="#">KOMARAN - BUKOVIK</a>
                    </li>
                    <li>
                        <a href="#">BRODAREVO</a>
                    </li>
                    <li>
                        <a href="#">SELJAŠNICA</a>
                    </li>
                    <li>
                        <a href="#">VELIKA ŽUPA</a>
                    </li>
                    <li>
                        <a href="#">RATAJSKA</a>
                    </li>
                    <li>
                        <a href="#">HISARDŽIK</a>
                    </li>
                    <li>
                        <a href="#">LUKE</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/projekti">PROJEKTI</a>
            </li>
            <li>
                <a href="/mekteb">MEKTEB</a>
            </li>
            <li>
                <a href="/contact">KONTAKTIRAJTE NAS</a>
            </li>
        </ul>
        <div class="col-2 social">
            <div>
                <ul>
                    <li class="facebook"><a href="#"><i class="fa fa-facebook "></i></a></li>
                    <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="youtube"><a href="#"><i class="fa fa-youtube"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>